In [5]:
from surprise import SVD
from surprise import SVDpp
from surprise import NMF
from surprise import SlopeOne
from surprise import KNNBasic
from surprise import KNNWithMeans
from surprise import KNNBaseline
from surprise import CoClustering
from surprise import BaselineOnly
from surprise.model_selection import cross_validate
from surprise import Dataset
from surprise import Reader
import pandas as pd

In [6]:
data= pd.read_excel('newdata.xlsx')
data

,Unnamed: 0,book_id,title,user_id,rating,review,sentiment,score,newrating
0,0,1,Harry Potter and the Half-Blood Prince,314,5,Perfect for a potterhead,1.0,5.0,5
1,1,1,Harry Potter and the Half-Blood Prince,439,3,Watching movie will suck after reading this,0.0,0.0,3
2,2,1,Harry Potter and the Half-Blood Prince,588,5,Great book,0.8,4.0,5
3,3,1,Harry Potter and the Half-Blood Prince,1169,4,Breathtaking story! Heartbreaking end!,1.0,4.0,5
4,4,1,Harry Potter and the Half-Blood Prince,1185,4,Awesome book.,1.0,4.0,5
...,...,...,...,...,...,...,...,...,...
5395,5395,54,Bound by Honor,50342,4,very good,0.7,2.8,4
5396,5396,54,Bound by Honor,51480,1,bad,-0.7,-0.7,2
5397,5397,54,Bound by Honor,51762,5,interesting,0.5,2.5,4
5398,5398,54,Bound by Honor,52036,3,can do better,0.5,1.5,3
5399,5399,54,Bound by Honor,53292,5,nice,0.6,3.0,4

In [7]:
reader = Reader(rating_scale=(1, 5))
data2 = Dataset.load_from_df(data[['user_id','book_id','newrating']],reader)

In [8]:
benchmark = []
# Iterate over all algorithms
classes= [SVD(), SVDpp(), SlopeOne(), NMF(), KNNBaseline(), KNNBasic(), KNNWithMeans(), BaselineOnly(), CoClustering()]
for algorithm in classes:
    #print(algorithm)
    # Perform cross validation
    results = cross_validate(algorithm, data2, measures=['RMSE'], cv=5)
    #print(results)
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark.append(tmp)
    
pd.DataFrame(benchmark).set_index('Algorithm').sort_values('test_rmse')

Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...
Estimating biases using als...

              test_rmse  fit_time  test_time
Algorithm
KNNBaseline    0.928571  0.025703   0.206537
SVDpp          0.935373  1.372855   0.032372
SVD            0.948972  0.254918   0.007984
KNNWithMeans   0.960525  0.029475   0.163343
BaselineOnly   0.960766  0.005185   0.004994
SlopeOne       0.963782  0.008178   0.020749
KNNBasic       0.972105  0.021016   0.157731
CoClustering   0.996867  0.152950   0.006165
NMF            1.009276  0.288743   0.006182